* {
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table, th, td {
    margin-top: 1em;
    border: 1px solid black;
    border-collapse: collapse;
   }
th{
    background-color: lightgrey;
}
  .title{
    width: 58%;
  }
  .price{
    width: 12%;
  }
  .action{
    width: 30%;
  }

  button{
    border-radius: 20%;
    border-style: none;
    font-weight: bold;
    margin-left: 1em;
  }
  .add-book{
    margin-left: 0%;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 2em;
    width: 4em;
    background-color: rgb(187, 156, 216);
  }
  .insert{
    background-color: rgb(187, 156, 216);
  }
  .read{
    background-color: lightblue;
  }
  .update{
    background-color: rgb(196, 196, 40);
  }
  .delete{
    background-color: orange;
  }
 footer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom:0;
    min-height: 2vh;
    height: 2em;
    width: 100%;
    padding: 0.5em;
    background-color: lightblue;
}